VITE_API_URL=https://mirorim.ddns.net:6789/backendBandung/
VITE_CAMUNDA_API_URL=https://mirorim.ddns.net:6789/api/engine-rest/
VITE_APP_ENDPOINT=https://mirorim.ddns.net:7443/rest-api
VITE_CHEMISTRY_API_URL=https://mirorim.ddns.net:6789/api/chemistry
VITE_INVENTREE_IMAGE=https://mirorim.ddns.net:7443
VITE_VAPID_KEY=BGs64GuX6v6KbNANsCj-UHmUmuDxmvbUnvqEt-lcWB9YiWk0ZtnaqgUFOYwYWwfbNJ3497I9ppR_retGWl-HpCU
VITE_API_KEY=AIzaSyDDEnkD5H24grVQvG2Ti5lElqblKi9fsmo
VITE_AUTH_DOMAIN=operasional-apps.firebaseapp.com
VITE_PROJECT_ID=operasional-apps
VITE_STORAGE_BUCKET=operasional-apps.appspot.com
VITE_MESSAGING_SENDER_ID=1055481409220
VITE_APP_ID=1:1055481409220:web:38350d8888b93509222391
VITE_MEASUREMENT_ID=G-0CTHTZMXH6    
